# API e desenvolvimento (Não precisa alterar a depender do caso)
APP_ENV=development
API_V1_PREFIX=/api/v1
CORS_ORIGINS=http://localhost:3000,http://localhost:8080

# Colocar a chave do gemini
GEMINI_API_KEY=your-gemini-api-key-here
GEMINI_MODEL=gemini-2.0-flash
